In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

In [2]:
api_key = "AIzaSyCaPx7iz28m0eT8r_4J30UOY-eb3mZEUnU"
api_key

'AIzaSyCaPx7iz28m0eT8r_4J30UOY-eb3mZEUnU'

In [3]:
gmaps.configure(api_key=api_key)

In [4]:
api_key

'AIzaSyCaPx7iz28m0eT8r_4J30UOY-eb3mZEUnU'

In [5]:
#load cities csv
city_data_df = pd.read_csv("out_put/cities.csv")
city_data_df

,city id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,oksbol,55.63,8.29,48.99,87,0,9.17,DK,1604514658
1,1,chokurdakh,70.63,147.92,-14.19,84,0,5.84,RU,1604514658
2,2,grahamstown,-33.30,26.53,60.89,93,100,9.86,ZA,1604514658
3,3,mount gambier,-37.83,140.77,46.40,81,40,8.05,AU,1604514658
4,4,asau,46.43,26.40,36.00,97,0,1.39,RO,1604514658
...,...,...,...,...,...,...,...,...,...,...
569,569,ovsyanka,55.96,92.55,26.60,86,75,11.18,RU,1604514749
570,570,dabola,10.75,-11.12,79.12,59,0,2.44,GN,1604514749
571,571,vila velha,-20.33,-40.29,73.40,78,90,5.82,BR,1604514750
572,572,kyra,49.58,111.98,24.55,91,100,1.77,RU,1604514750
573,573,waingapu,-9.66,120.26,80.46,75,35,2.86,ID,1604514750

# Heatmap of Humidity

In [6]:
city_data_df.dtypes

city id         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date            int64
dtype: object

In [7]:
#creat coordinates
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"].astype(float)

In [8]:
fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
city_data_df.head(1)

,city id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,oksbol,55.63,8.29,48.99,87,0,9.17,DK,1604514658

### Ideal vacation spot
* Max temp lower than 70 deg but higher than 50.
* Wind speed less than 25 mph.
* Zero cloudiness.
* Drop any rows that don't contain all three conditions.

In [10]:
vacation_city_df = city_data_df.loc[(city_data_df["Max Temp"] < 70) & (city_data_df["Max Temp"] > 50) \
                                    & (city_data_df["Wind Speed"] < 5) \
                                    & (city_data_df["Cloudiness"] == 0).dropna()]
vacation_city_df

,city id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
52,52,porto torres,40.84,8.40,59.00,93,0,4.70,IT,1604514664
98,98,debre tabor,11.85,38.02,53.44,77,0,1.68,ET,1604514669
256,256,tura,25.52,90.22,63.86,57,0,0.65,IN,1604514695
305,305,dehloran,32.69,47.27,69.03,28,0,0.76,IR,1604514702
319,319,talen,23.57,76.72,65.25,28,0,2.53,IN,1604514704
334,334,iranshahr,27.20,60.68,68.00,14,0,4.70,IR,1604514709
338,338,dhar,22.60,75.30,66.20,42,0,4.70,IN,1604514709
343,343,mandal,25.45,74.57,68.68,24,0,3.27,IN,1604514710
346,346,ambajogai,18.73,76.38,66.25,52,0,3.69,IN,1604514711
389,389,suratgarh,29.32,73.90,66.15,24,0,1.43,IN,1604514716
392,392,sheopur,25.67,76.70,66.45,25,0,3.06,IN,1604514717
398,398,dera bugti,29.03,69.15,63.93,24,0,1.77,PK,1604514717
426,426,marzuq,14.40,46.47,62.10,30,0,1.86,YE,1604514724
436,436,tabas,33.60,56.92,64.40,20,0,4.70,IR,1604514726
488,488,kayunga,0.70,32.89,66.52,93,0,3.11,UG,1604514735
529,529,charkhari,25.40,79.75,68.00,25,0,3.38,IN,1604514742

In [11]:
vacation_city_df.count()

city id       16
City          16
Lat           16
Lng           16
Max Temp      16
Humidity      16
Cloudiness    16
Wind Speed    16
Country       16
Date          16
dtype: int64

In [12]:
#find hotels by transforming data to own df
hotel_df = vacation_city_df[["City", "Lat", "Lng", "Country"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

             City    Lat    Lng Country Hotel Name
52   porto torres  40.84   8.40      IT
98    debre tabor  11.85  38.02      ET
256          tura  25.52  90.22      IN
305      dehloran  32.69  47.27      IR
319         talen  23.57  76.72      IN
334     iranshahr  27.20  60.68      IR
338          dhar  22.60  75.30      IN
343        mandal  25.45  74.57      IN
346     ambajogai  18.73  76.38      IN
389     suratgarh  29.32  73.90      IN
392       sheopur  25.67  76.70      IN
398    dera bugti  29.03  69.15      PK
426        marzuq  14.40  46.47      YE
436         tabas  33.60  56.92      IR
488       kayunga   0.70  32.89      UG
529     charkhari  25.40  79.75      IN

In [16]:
#set parameters
params = {
    "radius": 5000,
    "types": "lodging",
    "key": "AIzaSyCaPx7iz28m0eT8r_4J30UOY-eb3mZEUnU"
}

#interate with for loop
for index, row in hotel_df.iterrows():
    #get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    #for lat and lng within a 5,000 radius find hotels that match my parameters
    params["location"] = f"{lat},{lng}"
    
    #use the search term hotel instead of latitude and longitude
               
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #make request
    name_address = requests.get(base_url, params=params)
    
    name_address = name_address.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Field does not exist, skipping.")
        
hotel_df

Field does not exist, skipping.

             City    Lat    Lng Country                        Hotel Name
52   porto torres  40.84   8.40      IT                       Hotel Elisa
98    debre tabor  11.85  38.02      ET                            Tigesh
256          tura  25.52  90.22      IN          Hotel RIKMAN Continental
305      dehloran  32.69  47.27      IR    مسافرخانه قدس(عبدالله خداکرمی)
319         talen  23.57  76.72      IN                     Jaiswal Dhaba
334     iranshahr  27.20  60.68      IR                   کافی نت دانشگاه
338          dhar  22.60  75.30      IN          Hotel Shrinath Residency
343        mandal  25.45  74.57      IN               पीपी वाले हनुमान जी
346     ambajogai  18.73  76.38      IN                    Hotel Krushnai
389     suratgarh  29.32  73.90      IN                    Maharaja Hotel
392       sheopur  25.67  76.70      IN                   Hotel Bismillah
398    dera bugti  29.03  69.15      PK  SARDAR GHULAM MUSTAFA KHAN BUGTI
426        marzuq  14.40  46.47      YE
436         tabas  33.60  56.92      IR     شرکت معماری مهراز شایگان آراد
488       kayunga   0.70  32.89      UG                    Katikomu Hotel
529     charkhari  25.40  79.75      IN            Aziz neta ji Charkhari